/* Error: Can't find stylesheet to import.
 *    ,
 * 2  | / @use '@valdelaseras/pedestal' with (
 * 3  | |     $border-radius: 10px,
 * 4  | |     $primary-color: red,
 * 5  | |     $secondary-color: green,
 * 6  | |     $tertiary-color: blue,
 * 7  | |     $quaternary-color: purple,
 * 8  | |     $primary-accent-color: pink,
 * 9  | |     $secondary-accent-color: yellow
 * 10 | | );
 *    | '-^
 *    '
 *   styles/scss/variable-overrides.scss 2:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 2  \2502  \250c  @use '@valdelaseras/pedestal' with (\a 3  \2502  \2502      $border-radius: 10px,\a 4  \2502  \2502      $primary-color: red,\a 5  \2502  \2502      $secondary-color: green,\a 6  \2502  \2502      $tertiary-color: blue,\a 7  \2502  \2502      $quaternary-color: purple,\a 8  \2502  \2502      $primary-accent-color: pink,\a 9  \2502  \2502      $secondary-accent-color: yellow\a 10 \2502  \2502  );\a    \2502  \2514 \2500 ^\a    \2575 \a   styles/scss/variable-overrides.scss 2:1  root stylesheet";
}
