// this doesn't work at the moment
@use '@valdelaseras/pedestal' with (
    $border-radius: 10px,
    $primary-color: red,
    $secondary-color: green,
    $tertiary-color: blue,
    $quaternary-color: purple,
    $primary-accent-color: pink,
    $secondary-accent-color: yellow
);

